<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
</head>

<body>

  <h1>Welcome to 6156 Project page</h1>

  You can insert user right here
<form action="/users" method="post" name="user">
 <ul>
  <li>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name">
  </li>
  <li>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="fisrt_name">
  </li>
  <li>
    <label for="contact_number">Phone Number:</label>
    <input type="text" id="phone_number" name="phone_number">
  </li>
      <li>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  </li>
  <li class="button">
  <button type="submit">Register</button>
</li>
 </ul>

</form>



You can get all user information here

<a href="/users">
   <button>Get All Users</button>
</a>
</body>
</html>